@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
/**  --heading-font: "IM Fell French Canon";
  --paragraph-font: Lato, Helvetica, sans-serif; **/

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color:#235789 ;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    color: #052e05;
}

/** header stuff **/
header{
    background-color:#235789 ;
}

#logo_link{
    padding-top: 5px;
}

/** navigation styles **/
nav a{
    text-align: center;
    color: #F7E733;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color:#235789 ;
    color: #30C5FF;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color:#235789 ;
}

.book, .join{
    background-color:#235789 ;
    color: #F7E733;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover, .join:hover{
    background-color:#D1603D ;
    color: #F7E733;
}

.home-title{
    color: #052e05;
    font-family: "IM Fell French Canon";
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #052e05;
}

/** msg stuff **/
.msg{
    background-color:#235789 ;
    line-height: 1.5em;
    padding: 35px;}

.msg h2{
 color: #052e05;
 font-family: "IM Fell French Canon";   
}

.msg p{
    color: white;
    font-size: 0.8em;
    padding-bottom: 15px;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.logo{
    width: 80px;  
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card{
     margin: 200px 0;
}  

.card-img{
    border: 10px solid #30C5FF;
}

main section img {
    box-sizing: border-box;
}

/** footer stuff **/
footer{
    background-color:#235789 ;
    color: #D1603D;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: #D1603D;
    text-decoration: none;
}
footer a:hover{
    color: #30C5FF;
}
footer p {
    font-size: 1.2em;
}   

footer p a:hover {
    text-decoration: underline;
}   

footer .social img{
    padding-top: 15px;
}