
/** header **/
header{
    background-color: #022B3A;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/** navigation **/
nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: honeydew;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color:#022B3A ;
    color: #1F7A8C;
}